// ===========================================================================
   Set values in each of these variables to quickly style your site template
   Check out "_variables.sass" for more.
   ===========================================================================
   Default Body Styles
   ---------------------------------------------------------------------------
$body_background:     white
$font_family:         $helvetica            // $geneva  $helvetica  $lucida  $verdana  $georgia  $palatino  $times  $courier  $monaco
$font_size:           $medium               // $x-small  $small  $medium  $x-medium  $large  $x-large
$font_colour:         darken(white, 93%)    // equal to hex value #121212

// ---------------------------------------------------------------------------
   Default link colours/styles
   ---------------------------------------------------------------------------
$link_colour:         blue
$hover_colour:        purple
$active_colour:       red
$focus_background:    lighten(#ff0, 35%)    // Light yellow
