// setup.sass | BOOTSTRAP YOUR PROJECT

// Default Body Styles
$background:                  white
$font-family:                 $helvetica
$font-size:                   $medium
$colour:                      darken(white, 93%)

// Default link colours/styles
$link_colour:                 blue
$hover_colour:                purple
$active_colour:               red
